@model Coiffeur_Website.Models.Musteri
@{
    ViewData["Title"] = "Müşteri Kayıt";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="KayitOl" method="post">
    <div class="form-group">
        <label asp-for="MusteriAdi" class="control-label"></label>
        <input asp-for="MusteriAdi" class="form-control" />
        <span asp-validation-for="MusteriAdi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MusteriSoyadi" class="control-label"></label>
        <input asp-for="MusteriSoyadi" class="form-control" />
        <span asp-validation-for="MusteriSoyadi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Sifre" class="control-label"></label>
        <input asp-for="Sifre" class="form-control" />
        <span asp-validation-for="Sifre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MusteriMail" class="control-label"></label>
        <input asp-for="MusteriMail" class="form-control" />
        <span asp-validation-for="MusteriMail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TelNo" class="control-label"></label>
        <input asp-for="TelNo" class="form-control" />
        <span asp-validation-for="TelNo" class="text-danger"></span>
    </div>

 <!--   <div class="form-group">
        <label asp-for="FotografAdres" class="control-label"></label>
        <input asp-for="FotografAdres" class="form-control" />
        <span asp-validation-for="FotografAdres" class="text-danger"></span>
    </div>--->

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
