@{
    var Skullanici = Context.Session.GetString("SesKullanici");
    var Sobj=  Context.Session.GetString("SesObj");
}
<div class="alert-danger">@TempData["msj"]</div>
<h4>Buraya sadece Login olanlar girebilir</h4>

<div>Session Datası : @Skullanici</div>
<br />
<div>Session Obje Datası : @Sobj</div>
