@{
    ViewData["Title"] = "Randevu Oluşturma";
}

<h2>Randevu Başarılı!</h2>
<p>Randevunuz başarıyla oluşturulmuştur.</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ana Sayfaya Dön</a>
